BODY
{
    MARGIN-LEFT: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center
}
.owbutton
{
    /*BORDER-LEFT-COLOR: blue;
    BORDER-BOTTOM-COLOR: blue;
    BORDER-TOP-COLOR: blue;
    BORDER-RIGHT-COLOR: blue;
    border-spacing: 2px*/
    MARGIN: 4px;
    COLOR: blue;

}
.owinput
{
    /*BORDER-RIGHT: white 2px inset;
    BORDER-TOP: white 2px inset;
    BORDER-LEFT: white 2px inset;
    BORDER-BOTTOM: white 2px inset;*/
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: right
}
.owcell
{
	/*border-right: midnightblue 1pt;
	border-top: midnightblue 1pt;
	border-left: midnightblue 1pt;
	border-bottom: midnightblue 1pt;*/
	font-weight: normal;
	font-size: xx-small;
	color: black;
	font-family: arial;
	text-align: right;
}
.owrowheader
{
    /*BORDER-RIGHT: moccasin thin;
    BORDER-TOP: moccasin thin;
    BORDER-LEFT: moccasin thin;
    BORDER-BOTTOM: moccasin thin;*/
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #41527a;
    TEXT-ALIGN: left
}
.owtopleftcell
{
	color: black;
	background-color: transparent;
	text-align: right;
}
.owcolumnheader
{
    /*BORDER-RIGHT: #e18400 thin;
    BORDER-TOP: #e18400 thin;
    BORDER-LEFT: #e18400 thin;
    BORDER-BOTTOM: #e18400 thin;*/
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #41527a;
    TEXT-ALIGN: center
}
A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: small;
    COLOR: crimson;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center
}
.EmptyCell
{
    VISIBILITY: hidden;
    WIDTH: 0pt;
    BACKGROUND-COLOR: white
}
BODY
{
}
TH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: small;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-ALIGN: center
}


.owerrmsg
{
	/*border-right: midnightblue 1pt;
	border-top: midnightblue 1pt;
	border-left: midnightblue 1pt;
	border-bottom: midnightblue 1pt;*/
	font-size: xx-small;
	color: black;
	font-family: arial;
	text-align: center;
}

.owdivdttable
{
	/*border-right: silver 1pt solid;
	border-top: silver 1pt solid;
	border-left: silver 1pt solid;
	border-bottom: silver 1pt solid;*/
	overflow: hidden;
	width: 100%;
	height: 0%;
	background-color: #f8f9f8;
	text-align: left;
}

.owdivhrtable
{
    BACKGROUND-COLOR: darkviolet
}

.owtitle
{
	font-weight: bold;
	font-size: x-small;
	text-transform: none;
	width: 100%;
	color: #ffcc33;
	font-style: normal;
	font-family: arial;
	background-color: #41527a;
	text-align: center;
	font-variant: small-caps;
}
.owcell2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #d3d3d3;
    TEXT-ALIGN: right
}
.owimgdrill
{
    CURSOR: hand
}
.owimgorder
{
    CURSOR: hand
}
.owimgdt
{
    CURSOR: hand
}
}
.owdatacell
{
}
.owcontainer
{
}

.owinputcell
{
    /*BORDER-RIGHT: midnightblue 1pt;
    BORDER-TOP: midnightblue 1pt;
    BORDER-LEFT: midnightblue 1pt;
    BORDER-BOTTOM: midnightblue 1pt;*/
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: right
}
.owcellupdated
{
    /*BORDER-RIGHT: white 2px inset;
    BORDER-TOP: white 2px inset;
    BORDER-LEFT: white 2px inset;
    BORDER-BOTTOM: white 2px inset;*/
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ffcc66;
    TEXT-ALIGN: right
}
.owdivwbbuttons
{
	background-color: transparent;
	text-align: center;
}
.owbutton
{
	/*border-right: #4f5053 1px solid;
	border-top: #4f5053 1px solid;
	border-left: #4f5053 1px solid;
	border-bottom: #4f5053 1px solid;*/
	font-size: 11px;
	cursor: hand;
	color: #000000;
	font-family: arial, Arial, Helvetica, Geneva;
	background-color: #ffffff;
}
.owcellcolorcoding
{
	color: #000000;
	font-family: arial;
	font-weight: normal;
	font-size: xx-small;
	text-align: right;
}


