<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="SqlSettings" type="Inergy.Indev3.UI.SqlSettingsSection, __code"/>
    <section name="MailSettings" type="Inergy.Indev3.UI.MailSettingsSection, __code"/>
    <section name="ReportingSettings" type="Inergy.Indev3.UI.ReportingSettingsSection, __code"/>
  </configSections>
  <MailSettings mailServer="mail.akela.ro" administrativeMail="indev3administrator@inergyautomotive.com"/>
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzVGVzdF8yMDE0MTIxMA==" sqlConnectionTimeout="15" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SW5kZXYzVGVzdDIwMTQxMjEw" sqlConnectionTimeout="15" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SW5kZXYzVGVzdF8yMDE0MTIxMF8y" sqlConnectionTimeout="15" sqlCommandTimeout="120" test_2 / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzVGVzdF8yMDE0MTEyNQ==" sqlConnectionTimeout="15" sqlCommandTimeout="120" 20141125 / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzUHJvZF8yMDE0MTIxMF8y" sqlConnectionTimeout="15" sqlCommandTimeout="120" prod_2 / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzUHJvZF8yMDE0MTIxMA==" sqlConnectionTimeout="15" sqlCommandTimeout="120" prod/ -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzUHJvZF8yMDE0MTIxMF8y" sqlConnectionTimeout="15" sqlCommandTimeout="120" prod_2 / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzUHJvZF8yMDE0MTIxMA==" sqlConnectionTimeout="15" sqlCommandTimeout="120" prod/ -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzVGVzdF8yOTEwMjAxNA==" sqlConnectionTimeout="15" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzUHJvZF8yMDE1MDIwMw==" sqlConnectionTimeout="15" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzVGVzdF8yMDE1MDIwMw==" sqlConnectionTimeout="15" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzVGVzdF8yMDE1MDIwM18y" sqlConnectionTimeout="180" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5ERVYzUHJvZF8yMDE1MDQxNw==" sqlConnectionTimeout="180" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SW5kZXYzVGVzdA==" sqlConnectionTimeout="15" sqlCommandTimeout="120" / -->
  <!-- SqlSettings server="MTcyLjE3LjMyLjEyOQ==" userName="c2E=" password="c2E=" database="SW5kZXYyMDE1MjEyMTg=" sqlConnectionTimeout="180" sqlCommandTimeout="600" / -->
  <!--<SqlSettings server="MTcyLjE2LjEzMC4yMjNcbXNzcWxzZXJ2ZXIwOA==" userName="V2ViQXBwVXNlcg==" password="V2ViQXBwVXNlcg==" database="SU5ERVYz" sqlConnectionTimeout="180" sqlCommandTimeout="600" />-->
  <!-- SqlSettings server="MTcyLjE2LjEzMC4yMjNcbXNzcWxzZXJ2ZXIwOA==" userName="c2E=" password="c2FAYWsxZWwyYTM=" database="SU5ERVYzX1Byb2RfMjQwNzIwMTU=" sqlConnectionTimeout="180" sqlCommandTimeout="600" / -->
  <!--SqlSettings server="RFRPTUVTQ1UyXFNRTFNFUlZFUjIwMTJF" userName="aW5kZXY=" password="c2FAYWsxZWwyYTMxMjM0NTY=" database="SU5ERVYzX1Byb2RfMjQwNzIwMTU=" sqlConnectionTimeout="180" sqlCommandTimeout="600" / -->
  <!-- SqlSettings server="MTI3LjAuMC4x" userName="c2E=" password="c2FAYWsxZWwyYTM=" database="SU5ERVYzX1Byb2RfMjQwNzIwMTU=" sqlConnectionTimeout="180" sqlCommandTimeout="600" / -->
  <!-- SqlSettings server="RFRPTUVTQ1UyXFNRTFNFUlZFUjIwMTJF" userName="aW5kZXY=" password="c2FAYWsxZWwyYTMxMjM0NTY=" database="SU5ERVYzMjAxNTEyMTg=" sqlConnectionTimeout="180" sqlCommandTimeout="1200" / -->
  <!-- SqlSettings server="RFRPTUVTQ1UyXFNRTFNFUlZFUjIwMTJFRQ==" userName="c2E=" password="c2E=" database="aW5kZXYzdGVzdA==" sqlConnectionTimeout="180" sqlCommandTimeout="600" / -->
  <!--<SqlSettings server="QlVBRENTNFE1Nzk4NA==" userName="c2E=" password="c2E=" database="aW5kZXYz" sqlConnectionTimeout="180" sqlCommandTimeout="600"/>-->
  <SqlSettings server="QlVBREMxUUtaMloy" userName="c2E=" password="MQ==" database="SU5ERVYz" sqlConnectionTimeout="180" sqlCommandTimeout="600"/>
  
  <!--SqlSettings server="QlVTV0dWTUlOREVWM1xNU1NRTFNFUlZFUjEy" userName="c2E=" password="c2E=" database="SU5ERVYz" sqlConnectionTimeout="180" sqlCommandTimeout="600" /-->
  <!-- SqlSettings server="QlVTV0dWTUlOREVWM1xNU1NRTFNFUlZFUjEy" userName="c2E=" password="c2E=" database="aW5kZXYz" sqlConnectionTimeout="180" sqlCommandTimeout="600" / -->
  <ReportingSettings virtualDirectory="/Indev3Root/WebReports"/>
  <appSettings>
    <add key="UploadFolder" value="UploadDirectories\InProcess"/>
    <add key="UploadFolderCancelled" value="UploadDirectories\Cancelled"/>
    <add key="UploadFolderProcessed" value="UploadDirectories\Processed"/>
    <add key="UploadFolderAnnual" value="UploadDirectoriesAnnual\InProcess"/>
    <add key="UploadFolderCancelledAnnual" value="UploadDirectoriesAnnual\Cancelled"/>
    <add key="UploadFolderProcessedAnnual" value="UploadDirectoriesAnnual\Processed"/>
    <add key="UploadFolderInitial" value="UploadDirectoriesInitial\InProcess"/>
    <add key="UploadFolderInitialCancelled" value="UploadDirectoriesInitial\Cancelled"/>
    <add key="UploadFolderInitialProcessed" value="UploadDirectoriesInitial\Processed"/>
    <add key="UploadFolderRevised" value="UploadDirectoriesRevised\InProcess"/>
    <add key="UploadFolderRevisedCancelled" value="UploadDirectoriesRevised\Cancelled"/>
    <add key="UploadFolderRevisedProcessed" value="UploadDirectoriesRevised\Processed"/>
    <add key="Overwriteuploadfile" value="yes"/>
    <add key="SVNRevision" value="4547"/>
  </appSettings>
  <location path="Upload.aspx">
    <system.web>
      <pages>
        <controls>
          <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        </controls>
      </pages>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpRuntime maxRequestLength="4096" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--timeout ->Specifies the number of minutes a session can be idle before it is abandoned. The default is 20.-->
    <sessionState timeout="30"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>