<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->

<configuration>
  <configSections>
    <section name="SqlSettings" type="Inergy.Indev3.UI.SqlSettingsSection, __code" />
    <section name="MailSettings" type="Inergy.Indev3.UI.MailSettingsSection, __code" />
    <section name="ReportingSettings" type="Inergy.Indev3.UI.ReportingSettingsSection, __code" />
  </configSections>


  <MailSettings mailServer="mail.akela.ro" administrativeMail="indev3administrator@inergyautomotive.com" />
  <SqlSettings server="dm1zbGVmdGVyc3FsMms=" userName="c2E=" password="c2E=" database="SU5FUkdZX0lORGV2M18yMDEzMTAwNA==" sqlConnectionTimeout="15" sqlCommandTimeout="120" />
  <ReportingSettings virtualDirectory="/Indev3Root/WebReports"></ReportingSettings>


  <appSettings>
    <add key="UploadFolder" value="UploadDirectories\InProcess" />
    <add key="UploadFolderCancelled" value="UploadDirectories\Cancelled" />
    <add key="UploadFolderProcessed" value="UploadDirectories\Processed" />
    <add key="UploadFolderAnnual" value="UploadDirectoriesAnnual\InProcess" />
    <add key="UploadFolderCancelledAnnual" value="UploadDirectoriesAnnual\Cancelled" />
    <add key="UploadFolderProcessedAnnual" value="UploadDirectoriesAnnual\Processed" />
    
    <add key="UploadFolderInitial" value="UploadDirectoriesInitial\InProcess" />
    <add key="UploadFolderInitialCancelled" value="UploadDirectoriesInitial\Cancelled" />
    <add key="UploadFolderInitialProcessed" value="UploadDirectoriesInitial\Processed" />
    
    <add key="Overwriteuploadfile" value="yes" />
    <add key="SVNRevision" value="@revision@" />
  </appSettings>
  <location path="Upload.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <globalization culture="en-US" uiCulture="en" requestEncoding="utf-8" responseEncoding="utf-8" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<httpRuntime maxRequestLength="4096" executionTimeout="3600" />
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<identity impersonate="false" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--timeout ->Specifies the number of minutes a session can be idle before it is abandoned. The default is 20.-->
    <sessionState timeout="30">
    </sessionState>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
